body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #101010;
  background-image: linear-gradient(62deg, #010101 0%, #050505 100%);
  position: absolute;
  overflow-X: hidden;
  overflow-y: scroll;
}

@font-face {
  font-family: 'custard';
  src: url('../public/media/ArchivoBlack-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'neulis';
  src: url('../public/media/LexendDeca-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.pw {
  font-family: "neulis" !important;
  color: #111111;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.75rem;
  user-select: none;
  margin: 10px;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 10%;
  height: 10%;
  background-image: url('');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}